security:
  oauth2:
    client:
      clientId: hello-service
      clientSecret: ${HELLO_SERVICE_PASSWORD}
      accessTokenUri: http://localhost:5000/uaa/oauth/token
      grant-type: client_credentials
      scope: server

server:
  servlet:
    context-path: /hello
  port: 7500

feign:
  hystrix:
    enabled: true

spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: martysiuk.work@gmail.com
    password: S@s25012012
    properties:
      mail:
        smtp:
          auth: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false
          ssl:
            enable: true
          tls:
            enable: true